body{
          background: #FFF5EE;
          margin:0;
}
.container{
          margin:0.5em
}
.main-container{
          background: white;
          margin: 12% auto;
          width: 25%;
          text-align: center;
          padding: 20px;
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
ul{
          text-decoration:none;
          margin:0;
}
ul li {
          display: inline-block;
          text-decoration: none;
          padding:30px;
         
} 
ul li a{
          text-decoration: none;
          font-size: 14px;
          color:black;
          font-style:bold;
          font-family:sans-serif;
}
ul li:hover{
          background:white;
          color:rgb(238, 62, 200);
}
.navbar{
          top:0px;
          background: white;
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          position: fixed;
          width:100%;
}
 .desktop-logo {
          display: inline-block;
          margin-top: 20px;
          vertical-align: middle;
          padding: 0;
          margin: 0;
          cursor: pointer;
 }
.sprites-headerLogo{ 
          width: 53px;
          height: 36px;
         
}          
.myntraweb-sprite{
          background: url('https://assets.myntassets.com/assets/images/retaillabs/2019/2/20/9f612eb6-1870-410c-bd7d-57ca7ba769c21550685418928-MyntraWeb-Sprite.png');
          background-size: 1404px 105px;
          background-position: -462px 0px;
}
.womanCom{
          margin-top: 10%;
          width: 150px;
          height:50vh;
}
.woman-container{
         margin:10%;
}